<a href="https://colab.research.google.com/github/SnehaKarki2/CSC221_skark006/blob/main/Assignment5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Name = Sneha Karki
# Assignment 5
# Email = skark006@plattsburgh.edu
# CSC221A-Intro to Programming

# 4.1
pizza_list = ['pepperoni', 'buffalo chicken', 'vegetable']
for pizza in pizza_list:
  print(f"I love {pizza.title()} pizza.")

print("I really love pizza!")

I love Pepperoni pizza.
I love Buffalo Chicken pizza.
I love Vegetable pizza.
I really love pizza!

In [2]:
# 4.2 Same as 4.1 so skipped
# 4.3 and 4.4 similar I am making list for one million
million_list = list(range(1, 1000001))
# for number in million_list:
  # print(number)

# 4.5
print(min(million_list))
print(max(million_list))
print(sum(million_list))

1
1000000
500000500000

In [3]:
# 4.6
odd_number_list = list(range(1, 20, 2))
# print(odd_number_list)
for odd_number in odd_number_list :
  print(odd_number)

1
3
5
7
9
11
13
15
17
19

In [4]:
# 4.7
multiples_of_three = list(range(3, 31, 3))
for multiple in multiples_of_three:
  print(multiple)

3
6
9
12
15
18
21
24
27
30

In [5]:
# 4.8
cubes_list = []
for cube in range(1, 11):
  value = cube**3
  print(value)
  cubes_list.append(value)

1
8
27
64
125
216
343
512
729
1000

In [6]:
# 4.9
cubes_list2 = [x ** 3 for x in range(1, 11)]
print(cubes_list2)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [7]:
# 4.10
print(f"{cubes_list2[:3]} are the first three items in the list.")
print(f"{cubes_list2[4:7]} are the middle three items in the list.")
print(f"{cubes_list2[7:]} are the last three items in the list.")

[1, 8, 27] are the first three items in the list.
[125, 216, 343] are the middle three items in the list.
[512, 729, 1000] are the last three items in the list.

In [8]:
# 4.11
pizza_list = ['pepperoni', 'buffalo chicken', 'vegetable']
friends_pizza_list = pizza_list[:]
pizza_list.append('onion')
friends_pizza_list.append('cheese')
print(f"My favorite pizzas are {pizza_list}")
print(f"My freind's favorite pizzas are {friends_pizza_list}")

My favorite pizzas are ['pepperoni', 'buffalo chicken', 'vegetable', 'onion']
My freind's favorite pizzas are ['pepperoni', 'buffalo chicken', 'vegetable', 'cheese']

In [9]:
''' 4.12 I say use for loop to print the foods and as I have already used for
loop so I'm skipping this. '''

" 4.12 I say use for loop to print the foods and as I have already used for\nloop so I'm skipping this. "

In [10]:
# 4.13
buffet = ('rice', 'vegetable curry', 'lamb curry', 'chicken curry')
for food in buffet:
  print(food.title())

# buffet[0] = 'naan'
# print(buffet)

buffet = ('naan', 'vegetable curry', 'paneer tikka', 'chicken curry')
print("\nRevised Menu:")
for food in buffet:
  print(food.title())

Rice
Vegetable Curry
Lamb Curry
Chicken Curry

Revised Menu:
Naan
Vegetable Curry
Paneer Tikka
Chicken Curry

In [11]:
def factorial(num) :
  list_for_loop = [x for x in range(1, num+1)]
  # print(list_for_loop)
  fact = 1
  for i in list_for_loop :
    fact *= i

  return fact

print(factorial(5))
print(factorial(10))
print(factorial(20))
print(factorial(50))

120
3628800
2432902008176640000
30414093201713378043612608166064768844377641568960512000000000000

In [12]:
# Special Factorial
def special_factorial(num) :
  list_for_loop = [x for x in range(1, num+1)]
  # print(list_for_loop)
  fact = 1
  for i in list_for_loop :
    if i != 4 and i != 13 and i != 22 : # remove 4, 13, 22
      fact *= i

  return fact

print(special_factorial(5))
print(special_factorial(10))
print(special_factorial(20))
print(special_factorial(50))

30
907200
46786577080320000
26585745805693512275885146998308364374455980392448000000000000