<a href="https://colab.research.google.com/github/SnehaKarki2/CSC221_skark006/blob/main/Quiz3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# sum() Get the sum of all items in a list
print(sum([1, 2, 3]))  # Output: 6

6

In [1]:
#sorted()
# Return a sorted list
print(sorted([3, 1, 2]))  # Output: [1, 2, 3]

[1, 2, 3]

In [3]:
#min()
# Get the minimum value in a list
print(min([1, 2, 3]))  # Output: 1

1

In [4]:
#float()
# Convert a string to a float
print(float('3.14'))  # Output: 3.14

3.14

In [6]:
#max()
# Get the maximum value in a list
print(max([1, 2, 3]))  # Output: 3

3

In [7]:
#max()
# Get the maximum value in a list
print(max([1, 2, 3]))  # Output: 3

3

In [8]:
#map
# Apply a function to all items in a list
result = map(lambda x: x * 2, [1, 2, 3])
print(list(result))  # Output: [2, 4, 6]

[2, 4, 6]

In [14]:
#list
# Convert a string to a list
print(list('hello'))

['h', 'e', 'l', 'l', 'o']

In [9]:
#len()
# Get the length of a list
print(len([1, 2, 3]))

3

In [10]:
#int
# Convert a string to an integer
print(int('42'))

42

In [11]:
#hex()
# Convert an integer to a hexadecimal string
print(hex(255))

0xff

In [12]:
#filter()
# Filter a list using a function
result = filter(lambda x: x % 2 == 0, [1, 2, 3, 4, 5])
print(list(result))

[2, 4]

In [13]:
#eval()
# Evaluate a string as a Python expression
print(eval('3 + 4'))

7

In [15]:
#enumerate()
# enumertate over a list with an index
for i, x in enumerate([1, 2, 3]):
    print(i, x)

0 1
1 2
2 3

In [16]:
#divmod
# Get the quotient and remainder of a division
print(divmod(10, 3))

(3, 1)

In [17]:
#chr()
# Convert an integer to a character
print(chr(65))

A

In [18]:
#bool()
# Convert a value to a boolean
print(bool(0))

False

In [19]:
#bin
# Convert an integer to a binary string
print(bin(255))

0b11111111

In [20]:
#any
# Check if any items in a list are true
print(any([True, False, True]))

True

In [22]:
#all
# Check if all items in a list are true
print(all([True, False, True]))

False

In [23]:
#abs()
# Get the absolute value of a number
print(abs(-10))

10